extends layout

block content
  h1= title
  - var results = [{"EngineType":"IC Engine","Cylinders":4,"FuelType":"Petrol","Transmission":"Manual"},{"EngineType":"V-Type","Cylinders":5,"FuelType":"Diesel","Transmission":"Manual"},{"EngineType":"Radial","Cylinders":6,"FuelType":"LPG","Transmission":"Automatic"}];
  div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm-2" width="215px") Engine Type:#{item.EngineType}, Cylinders:#{item.Cylinders}, FuelType:#{item.FuelType}, Transmission:#{item.Transmission}
  br
  div(class="container-fluid")
    div(class="row")
    - for(var i=0;i<results.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{results[i].EngineType}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }